.Home{
  width: 100vw;
  height: 100vh;
  background-color: #0f1b2a;
  background-image: url('../../images/stars.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.container__conf{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 35%;
}
.logoPlatziConf{
  width: 95%;
}
.container__conf h2{
  color: aliceblue;
  font-weight: bold;
}
.container__conf p{
  color: aliceblue;
  font-size: 1.4rem;
}